.toolbar{
    width: 100wv;
    height: 5hv;
    background-color: lightblue;
    color: black;
}


.example-form {
    padding: 20% 40%;
    width: 100%;
    height: 100%;
    background-color: darkgray;
}

.example-full-width {
    width: 90%;
    margin: 0.3% 5%;
    background-color: lightblue;
}

td {
    padding-right: 8px;
}

.example-spacer {
    flex: 1 1 auto;
}

.button-send {
    width: 16%;
    height: 5%;
    margin: 1% 42%;
    background-color: lightblue;
}

table {
    width: 90%;
  }
