<mat-toolbar class="toolbar">
  <h1> App de consulta </h1>
</mat-toolbar>

<ng-template> Consultar </ng-template>
<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup" style="position: absolute; min-width: min-content;">

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Seleccione el tipo de consulta</mat-label>
      <mat-select [(ngModel)]="tipoDeConsulta">
        <mat-option value="ciudad">Ciudad</mat-option>
        <mat-option value="pais">Pais</mat-option>
        <mat-option value="estado">Estado</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100% !important">
      <mat-label> indique el lugar de consulta</mat-label>
      <input matInput [(ngModel)]="lugar" tyle="width: 100% !important">
    </mat-form-field>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> Consultar </ng-template>
    <p>Confirma para continuar</p>
    <div *ngIf="tipoDeConsulta && lugar">
      <button mat-button color="primary" (click)="enviar()">Enviar</button>
    </div>


    <div *ngIf="!tipoDeConsulta || !lugar">
      <h2> se ha detectado que no ha diligenciado los campos del paso uno, por favor revise e intente nuevamente</h2>
      <button mat-button  color="accent" matStepperPrevious>Back</button>
      <button mat-button color="warn" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel> Resultados </ng-template>
    <table *ngIf="verTabla">
      <thead>
        <tr>
          <th scope="col">Ciudad</th>
          <th scope="col">Estado</th>
          <th scope="col">Pais</th>
          <th scope="col">Poblacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let consolidado of respuesta">
          <th style="text-align: center;">{{consolidado.nombre_ciudad}}</th>
          <td style="text-align: center;">{{consolidado.nombre_estado}}</td>
          <td style="text-align: center;">{{consolidado.nombre_pais}}</td>
          <td style="text-align: center;">{{consolidado.poblacion}}</td>
        </tr>
      </tbody>
    </table>
    <h2 *ngIf="!verTabla"> {{respuestaAux}}</h2>
  </mat-step>

</mat-vertical-stepper>